@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Heebo:wght@300&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
.logo {
  height: 10%;
  width: 10%;
}

.navbar {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  text-align: center;
}

header {
  background-image: url(../assets/imagenes/COLLAGE.jpg);
  text-align: center;
}

header div {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: black;
}

header div nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header div nav a {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-decoration: none;
  font-family: 'Bebas Neue';
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, black), color-stop(50%, #ffc403));
  background-image: linear-gradient(to right, black 50%, #ffc403 50%);
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: left;
  -webkit-transition: background-position 0.3s ease;
  transition: background-position 0.3s ease;
}

header div nav a:hover {
  background-position: right;
  color: black;
}

.logo {
  height: 22.9vh;
  width: 10%;
}

footer {
  text-align: center;
  background-image: url(../assets/imagenes/COLLAGE.jpg);
}

footer div nav a {
  font-size: 2rem;
  color: white;
}

article {
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Bebas Neue';
}

article div h2 {
  text-transform: uppercase;
  font-size: 4rem;
  padding-top: 2vh;
}

article div .section__encabezados {
  font-size: 2.5rem;
  padding-top: 5vh;
}

article div .section__texts {
  font-family: 'Heebo', sans-serif;
  font-size: 1rem;
  padding: 1vh;
}

article div img {
  height: 20%;
  width: 45%;
  padding: 2vh;
}

aside {
  text-align: center;
  background-color: black;
}

.interes {
  padding-bottom: 2rem;
  font-family: 'Bebas Neue';
  text-align: center;
  padding-top: 1%;
}

.interes .servicios__interes {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, black), color-stop(50%, #ffc403));
  background-image: linear-gradient(to right, black 50%, #ffc403 50%);
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: left;
  -webkit-transition: background-position 0.3s ease;
  transition: background-position 0.3s ease;
}

.interes .servicios__interes:hover {
  background-position: right;
  color: black;
}

main {
  background-color: black;
}

main section h1 {
  background-image: url(../assets/imagenes/COLLAGE.jpg);
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 5rem;
  padding: 1%;
  font-family: 'Bebas Neue';
}

main section p {
  color: white;
  font-family: 'Heebo', sans-serif;
  text-align: center;
  padding: 1%;
}

main section div div {
  text-align: center;
}

main section div div iframe {
  height: 60vh;
  width: 80vh;
}

.nosotros__mapa {
  text-align: center;
}

.main__productos div h1 {
  background-image: url(../assets/imagenes/COLLAGE.jpg);
  color: white;
  text-align: center;
  font-size: 5rem;
  padding: 1%;
  font-family: 'Bebas Neue';
}

.contenedor__productos div .titulares__productos {
  color: white;
  font-size: 2rem;
  padding-top: 2%;
  font-family: 'Bebas Neue';
  text-align: center;
}

.contenedor__productos div {
  text-align: center;
}

.contenedor__productos div .productos__foto {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  height: 30vh;
  width: 35vh;
}

.contenedor__productos div .productos__foto:hover {
  -webkit-filter: none;
          filter: none;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main__index {
  background-image: url(../assets/imagenes/COLLAGE.jpg);
}
/*# sourceMappingURL=estilos.css.map */