main {background-color: map-get($mapa-colores, negro);
    section {
        h1 {
            background-image: url(../assets/imagenes/COLLAGE.jpg);
            text-transform: uppercase;
            @include coloralign(white,center);
            // color: white;
            // text-align: center;
            font-size: 5rem;
            padding: 1%;
            font-family: 'Bebas Neue';
        }
        p {
            @include coloralign(white,center);
            font-family: 'Heebo', sans-serif;
            padding: 1%;
        }
        div {
            div {text-align: center;
                iframe { height: 60vh;
                        width: 80vh;}
            }
        }
    }
}

.nosotros__mapa {
    text-align: center;
}