.main__productos {
    div {
        h1 {
            background-image: url(../assets/imagenes/COLLAGE.jpg);
            @include coloralign(white,center);
            font-size: 5rem;
            padding: 1%;
            font-family: 'Bebas Neue';
        }
    }
}

.contenedor__productos {
    div {
        .titulares__productos {
            @include coloralign(white,center);
            font-size: 2rem;
            padding-top: 2%;
            font-family: 'Bebas Neue';
        }
    }
    div { text-align: center;
        .productos__foto {
            filter: grayscale(1);
            height: 30vh;
            width: 35vh;
            &:hover {
                filter:none;
                
            }
        }
    }
}
