@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import "header";
@import "footer";
@import "articleaside";

// INDEX 

.main__index {
    background-image: url(../assets/imagenes/COLLAGE.jpg);
}


// NOSOTROS

main {background-color: black;
    section {
        h1 {
            background-image: url(../assets/imagenes/COLLAGE.jpg);
            color: white;
            text-transform: uppercase;
            text-align: center;
            font-size: 5rem;
            padding: 1%;
            font-family: 'Bebas Neue';
        }
        p {
            color: white;
            font-family: 'Heebo', sans-serif;
            text-align: center;
            padding: 1%;
        }
        div {
            div {text-align: center;
                iframe { height: 60vh;
                        width: 80vh;}
            }
        }
    }
}

.nosotros__mapa {
    text-align: center;
}