@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import "variables";
@import "mixins";
@import "header";
@import "footer";
@import "articleaside";
@import "interes";
@import "nosotros";
@import "productos";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
// INDEX 

.main__index {
    background-image: url(../assets/imagenes/COLLAGE.jpg);
}


